<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    Darshan
    <div id="availableCameras">
        
    </div>
</body>
<script src="/js/getDevice.js"></script>
</html>